<header class="site-header">
    <nav class="nav">
        <div class="nav__container">
            <a href="/" class="nav__logo"><img src="/assets/logo.png" alt="The Myth of Satan" /></a>
            <ul class="nav__menu">
                <li><a href="/" class="nav__link">Home</a></li>
                <li><a href="/#classes" class="nav__link">Classes</a></li>
                <li><a href="/#videos" class="nav__link">Videos</a></li>
                <li><a href="/#beliefs" class="nav__link">Beliefs</a></li>
                <li><a href="/#contact" class="nav__link">Contact</a></li>
            </ul>
        </div>
    </nav>
</header> 