---
layout: home.njk
title: "The Myth of Satan"
description: "Christadelphian presentations and videos addressing the myth of Satan."
---

<div class="home">
  {% include "./_components/hero-banner.njk" %}
  {% include "./_components/presentation-list.njk" %}
  {% include "./_components/exposing-a-myth.njk" %}
  {% include "./_components/youtube-gallery.njk" %}
  {% include "./_components/beliefs.njk" %}
  {% include "./_components/general-contact-form.njk" %}
</div>
