---
layout: home.njk
title: "The Myth of Satan"
description: "Christadelphian classes and videos addressing the myth of Satan."
---

<div class="home">
  {% include "./_components/hero-banner.njk" %}
  {% include "./_components/class-list.njk" %}
  {% include "./_components/youtube-gallery.njk" %}
  {% include "./_components/beliefs.njk" %}
</div>
